

.app {
    background:none;
    left:initial;
    top:initial;
    
    width:100%;                   /* text area width */
    text-align:center;
    padding:0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
